weewx.conf
skins/Belchertown/about.inc
skins/Belchertown/custom.css
skins/Belchertown/footer.html.tmpl
skins/Belchertown/graphs.conf
skins/Belchertown/images/*
skins/Belchertown/index_hook_after_station_info.inc
skins/Belchertown/reports/index.html.tmpl
skins/Belchertown/robots.txt
